<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="/static/website/style.css">
</head>
<body>
    <h1>Welcome to Meeting Planner</h1>
    <p>
        This is app for the course
        <em>Django: Getting Started</em>
    </p>
    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}">
                    {{ meeting.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

<a href="{% url 'rooms' %}">Rooms</a>
</body>
</html>